{% extends "layout.html" %}

{% block body %}
<h1 class="ui inverted header">All items</h1>
{% if most_bookmarked is not none %}
    <a href="/items/{{ most_bookmarked.id }}">{{ most_bookmarked.name }} (most bookmarked item)</a>
{% endif %}
<div class="ui inverted divider"></div>
{% if error %}
    <div class="ui negative message">{{ error }}</div>
{% endif %}
<div class="ui four cards">
    {% for item in items %}
    <div class="ui raised card">
        <a class="image" href="/items/{{ item.id }}">
            <div class="ui placeholder" style="height: 150px; width: 150px">
                <div class="square image"></div>
            </div>
        </a>
        <div class="content">
            <a class="header" href="/items/{{ item.id }}">
                <h2>{{ item.name }}</h2>
            </a>
            <div class="meta">
                <span class="ui green label">{{ item.price / 100 }} €</span>
                <span class="seller">{{ item.seller_username }}</span>
            </div>
            <div class="description">
                <p>Quality: {{ item.quality }}</p>
                <p>Type: {{ item.item_type }}</p>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}