{% extends "layout.html" %}

{% block body %}

{% if item.sold %}
    <div class="ui negative message">
        <h1 class="ui red header">This item has already been sold</h1>
    </div>
{% else %}
    <h1 class="ui header">Edit your item</h1>
    <div class="ui divider"></div>
    <div class="ui segment">
        <form method="POST" action="/items/{{ item.id }}" class="ui form">
            {{ form.name.label }}
            {{ form.name(placeholder="name") }}

            {{ form.item_type.label }}
            {{ form.item_type(placeholder="type") }}

            {{ form.price.label }}
            {{ form.price(placeholder="price", type="number") }}

            {{ form.quality.label }}
            {{ form.quality(placeholder="float", min="0", max="1", step="0.001", type="number") }}

            <button class="ui red button" type="submit">
                <i class="undo icon"></i>
                Update item
            </button>
        </form>
    </div>
{% endif %}

{% endblock %}