{% extends "layout.html" %}

{% block body %}

<div class="ui segment">
    {% if item.sold %}
        <div class="ui negative message">
            <h1 class="ui red header">This item has already been sold</h1>
        </div>
    {% endif %}
    <div class="ui three column grid">
        <div class="four wide column">
            <div class="ui image" style="background-color: lightgrey">
                <div class="ui placeholder" style="height: 250px; width: 400px"></div>
            </div>
        </div>
        <div class="six wide column" style="margin: auto">
            <h1 class="ui header">{{ item.name }}</h1>
            <div class="ui green label">{{ item.price / 100 }}€</div>
            <div>Seller: {{ item.account_id }}</div>
        </div>
        <div class="four wide column">
        </div>
    </div>
    {% if (current_user.id == item.account_id or current_user.role == "ADMIN") and not item.sold %}
        <form method="POST" action="/items/delete/{{ item.id }}">
            <button class="ui red basic button" type="submit">
                <i class="trash alternate outline icon"></i>
                Delete item
            </button>
        </form>
    {% endif %}
</div>
{% endblock %}