{% extends "layout.html" %}

{% block body %}
<h1 class="ui inverted header">User account</h1>
<div class="ui inverted divider"></div>
    <div class="ui segment">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui image" style="background-color: lightgrey">
                    <div class="ui placeholder" style="height: 250px; width: 400px"></div>
                </div>
            </div>
            <div class="six wide column" style="margin: auto">
                <h1 class="header">
                    {{ user.name }}
                </h1>
                <div class="ui red label">{{ user.role }}</div>
                <div class="ui blue basic label">{{ user.username }}</div>
                <p style="margin-top: 1em">{{ user.email }}</p>
                {% if user.banned %}
                    <h2 class="ui red header">This user has been banned</h2>
                {% endif %}
            </div>
        </div>
        {% if admin %}
            <form method="POST" action="/user/ban/{{ user.id }}" style="margin-top: 2em">
                <input type="hidden" value="{{ user.id }}" />
                <button class="ui red button" type="submit">
                    <i class="ban icon"></i>
                    {% if user.banned %}
                        Unban user
                    {% else %}
                        Ban user
                    {% endif %}
                </button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}